Tools/extraFiles/**
jre/**    
Lesions/**
Tracts/**
relatedPapers/** 
Tracts_Colin27/**
Example.xls 
Tools/tmp/**
Tools/installR/**
Tools/binaries/ANTs/**
Sources/bcbnifti/initFSLEnv
Sources/bcbnifti/clu_*
